/*
//Parker M., Alice W., Catilin C.
//Bees Bees Bees
//CSS file! So that the game looks pretty!
//6/3/18
*/

body
{
	font-family: Arial, Helvetica, sans-serif;
}

.unselectable
{
	/* This code makes text unselectable/unhighlightable */
	-webkit-touch-callout: none; /* iOS Safari */
	-webkit-user-select: none; /* Safari */
	-khtml-user-select: none; /* Konqueror HTML */
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none; /* Internet Explorer/Edge */
	user-select: none;
}

#myCanvas
{
	/*Styles the main game canvas area*/
	border: 1px solid #000000;
	background-color:  #4dff4d;
	background-image: url(https://www.transparenttextures.com/patterns/grey-sandbag.png);
	position: relative;
	display: inline-block;
	cursor: none;
}

/* The Modal (background) */
.modal {
    position: fixed;  /*Stay in place */
    z-index: 1;  /*Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height*/ 
    overflow: auto; /* Enable scroll if needed*/ 
    background-color: rgba(0,0,0,0.3); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    background-color: #80dfff;
    margin: auto;
    padding: 20px;
    border: 2px solid #000000;
    width: 35%;
    cursor: default;
}

/* The Close Button for the modal*/
.close {
    color: #00394d;
    float: right;
    font-size: 28px;
    font-weight: bold;
}
.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

#gameContainer, #upgradeContainer
{
	/*Styles aspects of the game and upgrade containers*/
	display: inline-block;
	vertical-align: top;
}

#upgradeContainer
{
	/*So when there are more upgrades than can fit in the space, the user can scroll and see the rest that are overflowing*/
	overflow-y: scroll;
}

#storeSign
{
	/*Styles the store sign*/
	background-color: gray;
	position: relative;
	font-size: 30px;
	text-align: center;
	border: solid #262626 4px;
	border-bottom: 0px;
}

#storeArea
{
	/*Styles the store area, which is the mini upgrade area, not where the main upgrades are located*/
	background-color: gold;
	position: relative;
	border: solid #262626;
	text-align: center;
	overflow: hidden;
}

.TextBox
{
	position: absolute;
	z-index: 1;
	cursor: none;
	border: 2px solid #000000;
	border-radius: 5px;
	padding: 2px;
	background-color: gold;
}

.BoxText
{
	padding: 0;
	margin: 0;
	cursor: none;
}

.upgrade
{
	/*Styles the upgrade area*/
	position: relative;
	background-color: white;
	border: solid #262626; /*#262626*/
	border-width: 4px;
	text-align: left;
	cursor: pointer;
	border-style: outset;
}

.upgrade:hover
{
	/*Styles when the mouse is hovering over the upgrade*/
	border-style: inset;
}

.upgradeName
{
	/*Styles the name of the upgrades, such that it scales as the window is being resized. (vw) */
	font-size: 2.5vw;
}

.upgradeCost
{
	/*Font size of the upgrade costs scales*/
	font-size: 1.5vw;
	/*Styles the postition of the upgrade cost text*/
	margin-top: 10px;
	margin-left: 30px;
}

.upgradeCount
{
	/*Styles the text showing the number of that upgrade a user has*/
	position: absolute;
	/*Font size of the upgrade count scales*/
	font-size: 1.5vw;
	/*Placement*/
	right: 0px;
	top: 0px;
}

.honeyPot
{
	/*Styles the honey pots*/
	position: absolute;
	width: 100px;
	height: 100px;
	cursor: pointer;
}

.effectTimer
{
	/*Styles the timers that pop up when a user gets the honey pots*/
	position: absolute;
	cursor: pointer;
	background-color: gold;
	z-index: 5;
}

.timer_whitespace
{
	/*Styles the timers that pop up when a user gets the honey pots*/
	position: absolute;
	background-color: white;
	cursor: pointer;
	z-index: -1;
}

.miniUpgrade
{
	/*Styles the mini upgrades*/
	text-align: left;
	background-color: white;
	position: relative;
	display: inline-block;
	float: left;
	cursor: pointer;
	z-index: 5;
	box-sizing: border-box;
}